<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman is Loaded" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= yield_content :css %>
  </head>

  <body class="<%= page_classes %>">

    <header class="site-header">
      <div class="container">
        <h1>AAA MEDICAL BILLING</h1>
        <%= partial "_layouts/nav" %>
      </div>
    </header>

    <main class="site-main">
      <div class="container module">
        <%= yield %>
      </div>
    </main>

    <footer class="site-footer">
      <div class="container">

        Sarah Leydon<br />
        Third Party Collections Specialist<br />
        <br />
        <b>AAA Medical Billing</b><br />
        Phone: <a href="tel:530.865.8727">530.865.8727</a><br />
        Claims Fax <a href="tel:530.341.0310">530.341.0310</a><br />
        EOB Fax <a href="tel:530.387.6447">530.387.6447</a><br />
        <a href="mailto:sarah@aaamb.com">sarah@aaamb.com</a>

      </div>
    </footer>

    <%= javascript_include_tag  "application" %>
    <%= yield_content :js %>
  </body>
</html>
